* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #105858;
}

h1 {
    font-size: 3rem;
    color: #a3e547;
}

input {
    display: none;
}

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    row-gap: 1rem;
}

.slider-images-wrapper {
    overflow: hidden;
    max-width: 30rem;
    width: 100%;
}

.slider-images {
    display: flex;
    align-items: center;
    width: 500%;
    height: inherit;
    transition: transform 0.5s ease-in-out;
}

.slider-images img {
    max-width: 30rem;
    width: 100%;
}

.slider-bottom {
    display: flex;
    justify-content: space-between;
    max-width: 30rem;
    width: 100%;
}

.slider-description-wrapper {
    display: flex;
    align-items: center;
    overflow: hidden;
    max-width: 15rem;
    width: 100%;
}

.slider-description {
    display: flex;
    width: 500%;
    transition: transform 0.5s ease-in-out;
}
.slider-description-item {
    width: 15rem;
    font-size: 1.5rem;
    color: #A3E547FF;
}

.slider-buttons {
    display: flex;
    column-gap: 0.25rem;
}

label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}

label:hover .slider-button {
    background-color: gray;
}

.slider-button {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background-color: black;
    transition: transform 0.5s ease-in-out;
}

#button2:checked ~ .slider-images-wrapper .slider-images {
    transform: translateX(-20%);
}

#button3:checked ~ .slider-images-wrapper .slider-images {
    transform: translateX(-40%);
}

#button4:checked ~ .slider-images-wrapper .slider-images {
    transform: translateX(-60%);
}

#button5:checked ~ .slider-images-wrapper .slider-images {
    transform: translateX(-80%);
}

#button2:checked ~ .slider-bottom .slider-description-wrapper .slider-description {
    transform: translateX(-20%);
}

#button3:checked ~ .slider-bottom .slider-description-wrapper .slider-description {
    transform: translateX(-40%);
}

#button4:checked ~ .slider-bottom .slider-description-wrapper .slider-description {
    transform: translateX(-60%);
}

#button5:checked ~ .slider-bottom .slider-description-wrapper .slider-description {
    transform: translateX(-80%);
}

#button1:checked ~ .slider-bottom > .slider-buttons > label:nth-of-type(1) > .slider-button,
#button2:checked ~ .slider-bottom > .slider-buttons > label:nth-of-type(2) > .slider-button,
#button3:checked ~ .slider-bottom > .slider-buttons > label:nth-of-type(3) > .slider-button,
#button4:checked ~ .slider-bottom > .slider-buttons > label:nth-of-type(4) > .slider-button,
#button5:checked ~ .slider-bottom > .slider-buttons > label:nth-of-type(5) > .slider-button{
    background-color: #A3E547FF;
    border: 0.2rem solid black;
}
#button1:checked:hover ~ .slider-bottom > .slider-buttons > label:nth-of-type(1) > .slider-button,
#button2:checked:hover ~ .slider-bottom > .slider-buttons > label:nth-of-type(2) > .slider-button,
#button3:checked:hover ~ .slider-bottom > .slider-buttons > label:nth-of-type(3) > .slider-button,
#button4:checked:hover ~ .slider-bottom > .slider-buttons > label:nth-of-type(4) > .slider-button,
#button5:checked:hover ~ .slider-bottom > .slider-buttons > label:nth-of-type(5) > .slider-button{
    border-color: gray
}

#button1:active ~ .slider-bottom > .slider-buttons > label:nth-of-type(1) > .slider-button,
#button2:active ~ .slider-bottom > .slider-buttons > label:nth-of-type(2) > .slider-button,
#button3:active ~ .slider-bottom > .slider-buttons > label:nth-of-type(3) > .slider-button,
#button4:active ~ .slider-bottom > .slider-buttons > label:nth-of-type(4) > .slider-button,
#button5:active ~ .slider-bottom > .slider-buttons > label:nth-of-type(5) > .slider-button{
    background-color: brown;
}
